
  .header{
    padding: 20px;
    font-family:inherit;
    background-color: #303030;
    font-size: 25px;
    color:white;
    text-align:center;
}
.searchBtn {
    float: right;
    height: 40px;
    /* display: inline-block; */
    /* border-left: 1px solid black; */
    /* border-top-right-radius: 15px; */
    /* border-bottom-right-radius: 15px; */
    background-color: #06AED5;
    color: white;
    width: 20%;
  }
