
.custom-jumbotron {
    background-color: #303030;
    color:white;
}
.search-container{
    width: 100%;
    position: relative;
    display: flex;
}
#searchBtn {
    float: right;
    height: 30px;
    background-color: #06AED5;
    color: white;
    width: 40px;
  }
  #searchBtn i:hover {
    border-color: cornflowerblue;
  }